@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
--White: hsl(0, 0%, 100%);
--Light-Grey: hsl(217, 12%, 63%);
--Medium-Grey: hsl(216, 12%, 54%);
--Dark-Blue: hsl(213, 19%, 18%);
--Very-Dark-Blue: hsl(216, 12%, 8%);
--Orange: hsl(25, 97%, 53%);
}

body{
    font-family: 'Overpass', sans-serif;
    text-align: center;
    background-color: var(--Very-Dark-Blue);
}

.container-1, .container-2{
    margin: 0 auto;
    margin-top: 200px;
    padding: 0;
    background-color: var(--Dark-Blue);
    color: var(--White);
    width: 400px;
    height: 420px;
    border-radius: 8%;
}

.rating-state{
    text-align: left;
    margin: 30px;
}

.rating-state img{
    margin: 50px 0px 30px 20px;
}

p{
    font-size: 15px;
    color: var(--Light-Grey);
    line-height: 18pt;
}

.rating-state p{
    margin: 10px 0px 10px 0px;
    padding-bottom: 20px;
}

.form {
    width: 100%;
}

.form div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    cursor: pointer;
    margin-right: 55px;
    margin-bottom: 50px;
}

.form__radio-button {
    height: 50px;
    width: 50px;
    background-color: hsl(213, 10%, 23%);
    border-radius: 100%;
    position: absolute;
    transition: background-color 0.2s;
}


.form__radio-button::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--Light-Grey);
    opacity: 0;
    transition: opacity 0.2s;
}

.form__radio-button div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--White);
    font-weight: 400;
    z-index: 2;
}

.form__radio-button:hover {
    background-color: var(--Orange);
}

.form__radio-input:checked~.form__radio-label .form__radio-button::after {
    opacity: 1;
}

#btn-submit {
    background-color: var(--Orange);
    color: var(--White);
    border-style: none;
    margin-top: 40px;
    padding: 0.8rem 8.5rem;
    border-radius: 1.5rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#btn-submit:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.thankyou-state{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thankyou-state img{
    margin-top: 50px;
}

.result{
    background-color: hsl(216, 12%, 54%, 0.2);
    border-radius: 1rem;
    color: hsl(25, 97%, 53%);
    font-size: 0.9rem;
    margin-top: 27px;
    padding: 5px 0px;
    width: 50%;
}

.thankyou-state h2{
    margin-top: 40px;
    padding-bottom: 10px;
}

.thankyou-state p{
    padding: 10px 30px 0px 30px;
}

.attribution {
    font-size: 0.7rem;
    text-align: center;
    min-height: 5vh;
    color: whitesmoke;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.attribution a {
    color: hsl(0, 0%, 60%);
    font-size: 0.8rem;
}